@charset "UTF-8";

@font-face {
  font-family: "portafoliojp";
  src:url("fonts/portafoliojp.eot");
  src:url("fonts/portafoliojp.eot?#iefix") format("embedded-opentype"),
    url("fonts/portafoliojp.woff") format("woff"),
    url("fonts/portafoliojp.ttf") format("truetype"),
    url("fonts/portafoliojp.svg#portafoliojp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "portafoliojp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconportafoliojp-"]:before,
[class*=" iconportafoliojp-"]:before {
  font-family: "portafoliojp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconportafoliojp-iconjp:before {
  content: "\61";
}
.iconportafoliojp-bars:before {
  content: "\62";
}
.iconportafoliojp-home:before {
  content: "\63";
}
.iconportafoliojp-bedtime:before {
  content: "\65";
}
.iconportafoliojp-mail:before {
  content: "\66";
}
.iconportafoliojp-menu-book:before {
  content: "\67";
}
.iconportafoliojp-person:before {
  content: "\68";
}
.iconportafoliojp-public:before {
  content: "\69";
}
.iconportafoliojp-sunny:before {
  content: "\6a";
}
.iconportafoliojp-work:before {
  content: "\6b";
}
.iconportafoliojp-close:before {
  content: "\64";
}
.iconportafoliojp-github:before {
  content: "\6c";
}
.iconportafoliojp-linkedin:before {
  content: "\6d";
}
.iconportafoliojp-visibility:before {
  content: "\6e";
}
.iconportafoliojp-send:before {
  content: "\6f";
}
.iconportafoliojp-pdf:before {
  content: "\70";
}
.iconportafoliojp-check:before {
  content: "\71";
}
.iconportafoliojp-language:before {
  content: "\72";
}
.iconportafoliojp-external-link:before {
  content: "\73";
}
.iconportafoliojp-link:before {
  content: "\74";
}
.iconportafoliojp-github-1:before {
  content: "\75";
}
