---
import { ContentPage } from "../../data";
import type { LanguagesContent } from "../../types/content";
import SliderKnowledge from "../SliderKnowledge.astro";

interface Props {
  language: LanguagesContent;
}

const { language } = Astro.props;

const { title, paragraph } = ContentPage[language].knoledgeContent;
---

<section class="bg-white py-12 relative">
  <div id="knowledge-section" class="absolute bottom-full h-16"></div>
  <div class="flex flex-col px-4">
    <h3 class="text-primary-700 text-4xl mb-5">{title}</h3>
    <p class="mb-9">
      {paragraph}
    </p>
  </div>
  <SliderKnowledge />
</section>
