---
import type { IJob } from "../types/content";

interface Props {
  job: IJob;
}

const { job } = Astro.props;

const { title, time, tasks } = job;
---

<div class="group flex pt-4 gap-3 -mt-7 first:mt-0">
  <div class="flex flex-col items-center pt-2">
    <div class="w-[10px] h-[10px] bg-white rounded-full"></div>
    <div class="w-[2px] grow bg-white -mt-1"></div>
  </div>
  <div>
    <h4 class="text-lg">{title}</h4>
    <p class="text-sm font-bold mb-3 pb-2 border-b border-white/50">{time}</p>
    <ul class="list-disc pb-10 group-last:pb-4">
      {
        tasks.map((task) => {
          return <li class="ml-4 mb-2 last:mb-0">{task}</li>;
        })
      }
    </ul>
  </div>
</div>
